[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-storage = "*"
google-cloud-discoveryengine = "*"
python-dotenv = "*"
gunicorn = "*"
google-cloud = "*"
reportlab = "*"
markdown = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
grpcio = "*"
langchain = "*"
google-cloud-aiplatform = "*"
langchain-google-vertexai = "*"
langchain-google-community = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
